* {
  margin: 0%;
  font-family: monospace;
}

html {
  height: 100%;
}

body {
  background-image: url("../img/background.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.boxcontact {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(11, 37, 69, 1);
  width: 1000px;
  height: 70%;
  margin-top: 6%;
  border-radius: 3%;
}
.contactflex {
  display: flex;
  height: 100vh;
  width: 55vw;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}
.contactform {
  height: 400px;
  width: 700px;
  background-color: rgb(141, 169, 196);
  margin: 20px;
  text-align: center;
}

.social {
  display: flex;
  height: 400px;
  width: 300px;
  background-color: rgb(141, 169, 196);
  margin: 20px;
  text-align: left;
  flex-wrap: wrap;
  
}
/* specificaties van de tekst vlakken*/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(226, 0, 0);
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}
/* specificaties van de button*/
input[type="submit"] {
  background-color: #ff0000;
  color: rgba(11, 37, 69, 1);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
/*veranderd de kleur van de button wanneer je hier met je muis overheen gaat*/
input[type="submit"]:hover {
  background-color: #d37d7d;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
}
img {
  height: 16%;
  
  padding: 6px;
}
h1 {
  padding: 10px;
  color: rgba(11, 37, 69, 1);
}