* {
	margin: 0%;
	font-family: monospace;
}


body {
	background-image: url('../img/background.jpg');
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

html {
	height: 100%;
}
/* het type writing effect en een deel van de positie*/
h2 {
	font-size: 60px;
	color: rgb(141, 169, 196);
	overflow: hidden;

	border-right: 0em solid orange;

	white-space: nowrap;

	margin: 0 auto;

	letter-spacing: 0.1em;

	animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* het type writing effect/ verandering van kleur */
@keyframes typing {
	from {
		width: 0;
		color: rgba(11, 37, 69, 1);
	}

	to {
		width: 100%;
		color: rgb(141, 169, 196);
	}
}


.text {
	width: fit-content;
	padding: 16%;
}

img {
	top: 25%;
	right: 15%;
	position: absolute;
}

main {
	position: relative;
	height: 100vh;
}
