* {
    margin: 0%;
    font-family: monospace;
}

body{
    background-image: url(/img/florian-olivo-4hbJ-eymZ1o-unsplash\ \(1\).jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

html {
    height: 100%;}
   


    
    