* {
    margin: 0%;
    font-family: monospace;
}

body{
    background-image: url(/img/florian-olivo-4hbJ-eymZ1o-unsplash\ \(1\).jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

html {
    height: 100%;}
   


    
    .item2 { grid-area: menu;
        height: 600px;
        width: 300px;
        background-color: rgb(141, 169, 196); rgb(141, 169, 196);
     }
    .item3 { grid-area: main; 
    width: 25%;
    }
   
    
    .grid-container {
      display: grid;
      grid-template-areas:
        'menu main main main'
        'menu'
        
      
    }
    
    .grid-container > div {
      
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
      gap: 60px;
    }